[submodule "bundle/colorschemes"]
	path = bundle/colorschemes
	url = https://github.com/flazz/vim-colorschemes.git
[submodule "bundle/jedi-vim"]
	path = bundle/jedi-vim
	url = https://github.com/davidhalter/jedi-vim.git
[submodule "bundle/python-mode"]
	path = bundle/python-mode
	url = https://github.com/klen/python-mode.git
[submodule "bundle/vim-markdown"]
	path = bundle/vim-markdown
	url = https://github.com/plasticboy/vim-markdown.git
[submodule "bundle/vim-airline"]
	path = bundle/vim-airline
	url = https://github.com/bling/vim-airline
[submodule "bundle/goyo"]
	path = bundle/goyo
	url = git@github.com:junegunn/goyo.vim.git
[submodule "bundle/syntastic"]
	path = bundle/syntastic
	url = git@github.com:scrooloose/syntastic.git
[submodule "bundle/vim-pencil"]
	path = bundle/vim-pencil
	url = git@github.com:reedes/vim-pencil.git
[submodule "bundle/vim-xmark"]
	path = bundle/vim-xmark
	url = git@github.com:junegunn/vim-xmark.git
[submodule "bundle/vim-json"]
	path = bundle/vim-json
	url = git@github.com:elzr/vim-json.git
[submodule "bundle/vim-jsx"]
	path = bundle/vim-jsx
	url = https://github.com/mxw/vim-jsx.git
